<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <nav>
            <ul>
                <li><a href="">天氣預報</a></li>
                <li><a href="">觀測</a></li>
                <li><a href="">防災</a></li>
            </ul>
        </nav>
        <h1>天氣預報</h1>
    </header>
    <main>
        <section>
            <h2>預報區間：<%= data.date %></h2>
            <ul>
                <% for(item of data.area){ %>
                <li>
                    <h3><%= item.title %></h3>
                    <p class="area-content">
                        <img src="<%= item.icon %>" alt="">
                        <span><%= item.temperature %></span>
                    </p>
                </li>
                <% } %>
            </ul>
        </section>
    </main>
  </body>
</html>
